<!-- <script src="https://localhost:3000/socket.io/socket.io.js"></script> -->

<div class="chatbot_container">
  <div class="chat-container" [class.active]="chatOpen">

    <div class="chat-section" #scrollMe [scrollTop]="scrollMe.scrollHeight">



      <div *ngFor="let i of getControl();index as j">
        <div *ngIf="i.value.value==2" class="other-chat chat">
          <img src="../../../assets/avatar.png" alt="profile" />
          <div class="chat-area">
            <p class="name-time">
              <span class="name">{{i.value.name}}</span>
              <span class="time">{{changeTime()}}</span>
            </p>

            <pre>{{i.value.title}}</pre>
          </div>
        </div>


        <div *ngIf="i.value.value==1" class="mine-chat chat">
          <div class="chat-area">
            <p class="name-time">
              <span class="name">Me</span>
              <span class="time">{{changeTime()}}</span>
            </p>

            <pre>{{i.value.title}}</pre>
          </div>
          <img src="../../../assets/avatar.png" alt="profile" />
        </div>

      </div>
      <!-- ----------------------------------- -->


      <!-- ----------------------------------- -->


    </div>

    <div class="typing-section">
      <form>
        <textarea type="text" [(ngModel)]="message" name="message" #field_value placeholder="Send a message...">
        </textarea>
        <button (click)="onSubmit()" [disabled]="field_value.value ==''">
          <img src="../../../assets/send icon.svg" alt="sendIcon" />
        </button>
      </form>
    </div>

  </div>
  <div class="button-container">
    <button (click)="toggleClass($event)" [class.active]="chatOpen">
      <img src="../../../assets/chatbot icon.svg" alt="chatIcon" class="img1" [class.active]="chatOpen" />
      <img src="../../../assets/arrow.svg" alt="arrow" class="img2" [class.active]="chatOpen" />
    </button>
  </div>
</div>
