<div class="card-wrap">
	<div class="card">
		<div class="card-header">
			<h2>Queries</h2>

		</div>
<div class="cards ">
  <div class="cardd shadow-1" >
    <div style="float: right;">
  <i (click)="toggleClass($event)" class="fas fa-reply" [class.active]="replay"></i>
</div>
    <div class="overlay" [class.active]="replay"></div>
      <div class="sub_container2" [class.active]="replay">
        <a class="cross"  (click)="toggleClass($event)">x</a>
        <div class="container">
          <h2>Replay</h2><br>
          <textarea name="" id="" ></textarea>
            <p class="timePara">12/12/2021, 3:00AM</p>
        </div>
        <button class="sendbtn">send</button>
      </div>
    <div class=" border" >
<div class="name">
  Sindhu &nbsp; <span >20-12-2021,6:00PM</span>

</div>
    </div>
    <div class="query">
     Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa incidunt laboriosam aspernatur deserunt minima vitae debitis eveniet quos soluta cumque nisi, laudantium veniam, dolor, tempore placeat doloremque corrupti fugit nesciunt?
    </div>
  </div>





  <div class="cardd shadow-1" >
    <div style="float: right;">
  <i (click)="toggleClass($event)" class="fas fa-reply" [class.active]="replay"></i>
</div>
    <!-- <div class="overlay" [class.active]="replay"></div>
      <div class="sub_container2" [class.active]="replay">
        <a class="cross"  (click)="toggleClass($event)">x</a>
        <div class="container">
          <h1>sindhu</h1>
        </div>
      </div> -->
    <div class=" border" >
<div class="name">
  Sindhu &nbsp; <span style="font-size: small;">20-12-2021,6:00PM</span>

</div>
    </div>
    <div class="query">
    </div>
  </div>



  <div class="cardd shadow-1" >
    <div style="float: right;">
  <i (click)="toggleClass($event)" class="fas fa-reply" [class.active]="replay"></i>
</div>
    <!-- <div class="overlay" [class.active]="replay"></div>
      <div class="sub_container2" [class.active]="replay">
        <a class="cross"  (click)="toggleClass($event)">x</a>
        <div class="container">
          <h1>sindhu</h1>
        </div>
      </div> -->
    <div class=" border" >
<div class="name">
  Sindhu &nbsp; <span style="font-size: small;">20-12-2021,6:00PM</span>

</div>
    </div>
    <div class="query">
    </div>
  </div>




  <div class="cardd shadow-1" >
    <div style="float: right;">
  <i (click)="toggleClass($event)" class="fas fa-reply" [class.active]="replay"></i>
</div>
    <!-- <div class="overlay" [class.active]="replay"></div>
      <div class="sub_container2" [class.active]="replay">
        <a class="cross"  (click)="toggleClass($event)">x</a>
        <div class="container">
          <h1>sindhu</h1>
        </div>
      </div> -->
    <div class=" border" >
<div class="name">
  Sindhu &nbsp; <span style="font-size: small;">20-12-2021,6:00PM</span>

</div>
    </div>
    <div class="query">
    </div>
  </div>







  <div class="cardd shadow-1" >
    <div style="float: right;">
  <i (click)="toggleClass($event)" class="fas fa-reply" [class.active]="replay"></i>
</div>
    <!-- <div class="overlay" [class.active]="replay"></div>
      <div class="sub_container2" [class.active]="replay">
        <a class="cross"  (click)="toggleClass($event)">x</a>
        <div class="container">
          <h1>sindhu</h1>
        </div>
      </div> -->
    <div class=" border" >
<div class="name">
  Sindhu &nbsp; <span style="font-size: small;">20-12-2021,6:00PM</span>

</div>
    </div>
    <div class="query">
    </div>
  </div>

  <div class="cardd shadow-1" >
    <div style="float: right;">
  <i (click)="toggleClass($event)" class="fas fa-reply" [class.active]="replay"></i>
</div>
    <!-- <div class="overlay" [class.active]="replay"></div>
      <div class="sub_container2" [class.active]="replay">
        <a class="cross"  (click)="toggleClass($event)">x</a>
        <div class="container">
          <h1>sindhu</h1>
        </div>
      </div> -->
    <div class=" border" >
<div class="name">
  Sindhu &nbsp; <span style="font-size: small;">20-12-2021,6:00PM</span>

</div>
    </div>
    <div class="query">
    </div>
  </div>



</div>
	</div>
</div>
