<div class="card-wrap">
	<div class="card">
		<div class="card-header">
			<h2>Queries</h2>

		</div>
<div class="cards  ">
  <div class="cardd shadow-1">
    <div class="name border">
      sindhu &nbsp;<span style="font-size: small;">20-12-2021, 6:00PM</span>
    </div>
    <div class="query">
     Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa incidunt laboriosam aspernatur deserunt minima vitae debitis eveniet quos soluta cumque nisi, laudantium veniam, dolor, tempore placeat doloremque corrupti fugit nesciunt?
    </div>
  </div>
  <div class="cardd shadow-1">
    <div class="name border">
      sindhu &nbsp;<span style="font-size: small;">20-12-2021, 6:00PM</span>
    </div>
  </div>
  <div class="cardd shadow-1">
    <div class="name border">
      sindhu &nbsp;<span style="font-size: small;">20-12-2021, 6:00PM</span>
    </div>
  </div>
  <div class="cardd shadow-1">
    <div class="name border">
      sindhu &nbsp;<span style="font-size: small;">20-12-2021, 6:00PM</span>
    </div>
  </div>
  <div class="cardd shadow-1">
    <div class="name border">
      sindhu &nbsp;<span style="font-size: small;">20-12-2021, 6:00PM</span>
    </div>
  </div>
  <div class="cardd shadow-1">
    <div class="name border">
      sindhu &nbsp;<span style="font-size: small;">20-12-2021, 6:00PM</span>
    </div>
  </div>


</div>
	</div>
</div>
