<div class="home_container">
  <div class="heading_section">
    <h1>Intern Management System</h1>
    <p>
      Intern management in easy way_ _ _ _ _ _ _ _
    </p>
  </div>
  <div class="overview_section">
    <div class="info_section">
      <h2>Features and Services</h2>
      <p>
        Intern Management System is providing an easy way to
        manage and communicate between Admin and Intern.
        In this system, some important features are given below.
      </p>
      <ul>
        <li>Intern’s Profile and their Progress</li>
        <li>Courses and Study Materials</li>
        <li>Provided Tasks and Completed Tasks</li>
        <li>Daily Progress Report</li>
        <li>Apply Leaves and Taken Leaves</li>
        <li>Mark Shift Wise Attendance</li>
      </ul>
    </div>
    <div class="graphic_section">
      <img src="../../../assets/management.png" alt="infoGraphic" />
    </div>
  </div>
</div>
