<div class="section paddinf-off tmm-team" style="background-color: black;">
  <div class="hgroup">
      <h3 class="title-4">Our Team</h3></div>
      <br><br>
  <section class="tmm-container">
      <div class="tmm-row">
          <div class="item-hexagon-4">
              <div class="face-container">
                  <div class="hexagon">
                      <div class="hexagon-in">
                          <div class="hexagon-bg type-1">
                              <div class="info">
                                  <h3>Ravi</h3>
                                  <p>worked on..................................</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="title-container">
                      <h4 class="title">Ravi Singh</h4></div>
              </div>
              <div class="item-content">
                  <ul class="social-icons">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  </ul>
              </div>
          </div>
          <div class="item-hexagon-4">
              <div class="face-container">
                  <div class="hexagon">
                      <div class="hexagon-in">
                          <div class="hexagon-bg type-2">
                              <div class="info">
                                  <h3>Arsad</h3>
                                  <p>worked on..................................</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="title-container">
                      <h4 class="title">Arsad Siddiqui</h4></div>
              </div>
              <div class="item-content">
                  <ul class="social-icons">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  </ul>
              </div>
          </div>
          <div class="item-hexagon-4">
              <div class="face-container">
                  <div class="hexagon">
                      <div class="hexagon-in">
                          <div class="hexagon-bg type-3">
                              <div class="info">
                                  <h3>Srinath</h3>
                                  <p>worked on..................................</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="title-container">
                      <h4 class="title"> Srinath</h4></div>
              </div>
              <div class="item-content">
                  <ul class="social-icons">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  </ul>
              </div>
          </div>
          <div class="item-hexagon-4">
              <div class="face-container">
                  <div class="hexagon">
                      <div class="hexagon-in">
                          <div class="hexagon-bg type-4">
                              <div class="info">
                                  <h3>Sindhu</h3>
                                  <p>worked on..................................</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="title-container">
                      <h4 class="title">Sindhu</h4></div>
              </div>
              <div class="item-content">
                  <ul class="social-icons">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                  </ul>
              </div>
          </div>

      </div>
      <div class=" tmm-team">
        <div class="hgroup">
          <div class="hgroup">
            <h3 class="title-4">We are here</h3></div>
            <h4 class="sub-title-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nostrum est voluptatem sint dolorum ipsa quo expedita, illum aspernatur nihil consequuntur labore minima ipsam fuga totam quae tempore velit culpa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam rem dolores sequi cumque excepturi nam tempora dolor harum, aspernatur minima alias illum odit velit ut ex, consequuntur necessitatibus ipsam sunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aperiam delectus odio incidunt neque reiciendis! Exercitationem iure dicta reprehenderit doloribus, nobis quam vitae beatae cum tempore saepe, vero harum aliquid.</h4></div>
    </div>
  </section>

</div>

