<div class="card-container">
  <div class="card-title">
    <h6>Announcement</h6>
  </div>

  <div class="content-container">


    <table>
      <!-- Announcemet Date & Time -->
      <p>09:30 | 18-12-2021</p>
      <!-- Announcemet Subject -->
      <tr>
        <th>Subject</th>
      </tr>
      <tr>
        <td>Lorem Ipsum</td>
      </tr>

      <!-- Announcemet Description -->
      <tr>
        <th>Description</th>
      </tr>
      <tr>
        <td>Lorem Ipsum Dollar Sit...</td>
      </tr>

      <!-- Announced By -->
      <tr>
        <th>Announced By</th>
      </tr>
      <tr>
        <td>John Doe</td>
      </tr>
    </table>


    <table>
      <!-- Announcemet Date & Time -->
      <p>09:30 | 18-12-2021</p>
      <!-- Announcemet Subject -->
      <tr>
        <th>Subject</th>
      </tr>
      <tr>
        <td>Lorem Ipsum</td>
      </tr>

      <!-- Announcemet Description -->
      <tr>
        <th>Description</th>
      </tr>
      <tr>
        <td>Lorem Ipsum Dollar Sit...</td>
      </tr>

      <!-- Announced By -->
      <tr>
        <th>Announced By</th>
      </tr>
      <tr>
        <td>John Doe</td>
      </tr>
    </table>


    <table>
      <!-- Announcemet Date & Time -->
      <p>09:30 | 18-12-2021</p>
      <!-- Announcemet Subject -->
      <tr>
        <th>Subject</th>
      </tr>
      <tr>
        <td>Lorem Ipsum</td>
      </tr>

      <!-- Announcemet Description -->
      <tr>
        <th>Description</th>
      </tr>
      <tr>
        <td>Lorem Ipsum Dollar Sit...</td>
      </tr>

      <!-- Announced By -->
      <tr>
        <th>Announced By</th>
      </tr>
      <tr>
        <td>John Doe</td>
      </tr>
    </table>






  </div>

  <div class="bottom-section">
    <a href="#">View More</a>
  </div>
</div>
