<div class="header_section">
  <!-- <app-header></app-header> -->
</div>
<div class="body_section">
  <!-- <app-chatbot class="chatbot"></app-chatbot> -->
  <!-- <app-admin-queries></app-admin-queries> -->
  <!-- <app-contact-us></app-contact-us> -->

  <!-- <app-dashboard></app-dashboard> -->
  <!-- <app-chatbot class="chatbot"></app-chatbot> -->
  <!-- <app-dashboard></app-dashboard> -->
  <!-- <app-tasks-admin></app-tasks-admin> -->
  <!-- <app-tasks-intern></app-tasks-intern> -->
  <!-- <app-add-intern></app-add-intern> -->
  <!-- <app-attendance></app-attendance> -->
  <!-- <app-dpr></app-dpr> -->
  <!-- <app-employee-dashboard></app-employee-dashboard> -->
  <!-- <app-login></app-login> -->
  <!-- <app-admin-register></app-admin-register> -->
  <!-- <app-view-dpr></app-view-dpr> -->
  <!-- <app-apply-leave></app-apply-leave> -->
  <!-- <app-leave-theme></app-leave-theme> -->
  <!-- <app-view-courses></app-view-courses> -->
  <!-- <app-testing></app-testing> -->
  <!-- <router-outlet></router-outlet> -->
  <!-- <app-birthday-wishes></app-birthday-wishes> -->
  <!-- <app-announcements></app-announcements> -->
  <!-- <router-outlet></router-outlet> -->
</div>
