<div class="card-container">
  <div class="card-title">
    <h6>DPR</h6>
  </div>

  <div class="content-container" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <!-- ----------------------------------------------- -->

    <table>
      <tr>
        <td>
          <img src="../../../../assets/avatar.png" alt="profile" />
        </td>
        <td>
          <p class="name_time">
            <span class="name">John Doe</span>
            <span class="dateTime">09:30</span>
            <span class="dateTime">18-12-2021</span>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <p class="dpr">DPR : Lorem Ipsum Dollar Sit...</p>
        </td>
      </tr>
    </table>


    <table>
      <tr>
        <td>
          <img src="../../../../assets/avatar.png" alt="profile" />
        </td>
        <td>
          <p class="name_time">
            <span class="name">John Doe</span>
            <span class="dateTime">09:30</span>
            <span class="dateTime">18-12-2021</span>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <p class="dpr">DPR : Lorem Ipsum Dollar Sit...</p>
        </td>
      </tr>
    </table>


    <table>
      <tr>
        <td>
          <img src="../../../../assets/avatar.png" alt="profile" />
        </td>
        <td>
          <p class="name_time">
            <span class="name">John Doe</span>
            <span class="dateTime">09:30</span>
            <span class="dateTime">18-12-2021</span>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <p class="dpr">DPR : Lorem Ipsum Dollar Sit...</p>
        </td>
      </tr>
    </table>


    <table>
      <tr>
        <td>
          <img src="../../../../assets/avatar.png" alt="profile" />
        </td>
        <td>
          <p class="name_time">
            <span class="name">John Doe</span>
            <span class="dateTime">09:30</span>
            <span class="dateTime">18-12-2021</span>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <p class="dpr">DPR : Lorem Ipsum Dollar Sit...</p>
        </td>
      </tr>
    </table>



    <!-- ----------------------------------------------- -->


    <div class="bottom-section">
      <a routerLink="/dpr">View More</a>
    </div>
  </div>
