* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.chatbot {
  position: fixed;
  z-index: 100000;
  bottom: 10px;
  right: 10px;
}

.dashboard-container {
  /* border: 1px solid red; */
  font-family: Montserrat, sans-serif;
  margin: auto;
  padding-top: 2%;
  min-height: calc(100vh - 50px);
  background: #f1f1f1;
}

.dashboard-container h1.dashboard-title {
  font-size: 22px;
  padding-bottom: 4px;
  margin: 0 4%;
  color: #3e3e3e;
  border-bottom: 2px solid #484848;
}

.dashboard-container .cards-container {
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  padding-top: 20px;
}

.cards {
  padding: 1%;
}
