<div class="dashboard-container">
  <h1 class="dashboard-title">
    Dashboard
  </h1>
  <div class="cards-container">
    <app-profile-card class="cards"></app-profile-card>
    <app-attendance-card class="cards"></app-attendance-card>
    <app-leave-card class="cards"></app-leave-card>
    <app-dpr-card class="cards"></app-dpr-card>
    <app-employee-card class="cards"></app-employee-card>
    <app-task-card class="cards"></app-task-card>
    <app-announcement-card class="cards"></app-announcement-card>
  </div>
  <app-chatbot class="chatbot"></app-chatbot>
</div>
